
   <section class="categories_controllers">
    <nav class="navbar navbar-dark main-bg ">
    <div class="container">
     <%= link_to 'â†',categories_path, class:'text-light text-decoration-none fs-2' %>
       <a class="navbar-brand" href="#">DETAILS</a>
       <%= link_to 'Next',{}, class: 'text-light fs-5 text-decoration-none'%>
  </div>
  </nav>

  <section class="category-section details ">
    <div class='payment'>
      <p>TOTAL EXPENSES</p>
      <h2>$<%= @category.businesses.sum(:amount) || '0.00' %></h2>
      <div class='desc'>
        <ion-icon id="list-img" name="<%= @category.icon %>"  class="transaction-img <%= @category.icon %>"></ion-icon>
        <span>
          <h3><%= @category.name %></h3>
        </span>
      </div>
    </div>
      <% if @transactions.present?%>
        <div class="transaction-container">
    <hr>
    <% @transactions.each do |transaction| %>
    <div class='transaction'>
      <span>
        <h3><%= transaction.name %></h3>
        <small><%= transaction.created_at.to_date.strftime("%d %b, %Y") %></small>
      </span>
      <span>
         <%= button_to "Remove", category_business_path(@category,transaction), method: :delete, class: 'delete-transaction' %>
      </span>
    </div>
    <hr>

   <% end %>
    <%= button_to "Delete Category", category_path, method: :delete, class: 'delete-categories' %>
</div>
  <% else %>
  <p></p>
  <% end %>

  </section>
  <div class='category-footer'>
    <%= button_to "+", new_category_business_path(@category), method: :get, class: 'category-btn' %>
    <p>Add New Transaction
  </div>
</section>